<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="/assets/css-spacelab/bootstrap.min.css" type="text/css" >
		<script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="/js/tickets.js"></script>
    <script src="/assets/js/main.js"></script>
		<title>Tickets Galore</title>
	</head>
	<body>
		
    
		{{{ body }}}
	</body>
</html>

