 {{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}} {{!-- Create a button in `index.handlebars`
that will submit the user input into the database. --}}
<form class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

  <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="userLogIn form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
  </div>


  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <label class="form-check-label" for="inlineFormCheck">
      Remember me
    </label>
  </div>

  <button type="submit" class=" userLogIn btn btn-primary mb-2">Submit</button>
</form>

<div class=" animation row d-flex justify-content-center">
  <div class="col text-center">
    <h1>Test one two three four</h1>
  </div>
</div>

<div id="caleandar">
</div>
<div class="row">
  <div class="col-2 waterFallSlideLeft justify-content-start m-2">
    {{!-- this is the water fall of ticket types on main page --}}
  </div>
  <div class="col-2 waterFallSlideMiddle justify-content-center m-2">
    {{!-- this is the water fall of ticket types on main page --}}
  </div>
  <div class="col-2 waterFallSlideRight justify-content-end m-2">
    {{!-- this is the water fall of ticket types on main page --}}
  </div>
</div>
