
<div class="col-4 d-flex justify-content-start text-white font-weight-bold font-italic ">
  <ul>
    <H3 class="text-center bg-dark">What are your preferences</H3>
    <li>
      <p>
        <button data-userpref="{{" test one two three "}}" class="userPreference btn btn-dark">Let us now</button>
        <label class=" p-2 rounded bg-dark text-white placeholder=" test " disabled">
          test one two three
        </label>
      </p>

    </li>
  </ul>
</div>