<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center" id="logo">Tickets Galore
            <sup>&reg;</sup>
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="text-center" id="tag-line">Buy Buy Buy</div>
    </div>
    <div class="row justify-content-center">
        <div id="my-signin2"></div>
    </div>
</div>
<div class="header-bg">
                <div id="preloader">
                    <div class="preloader"></div>
                </div>
                <div class="main-slider" id="main-slider">
                    <!--==pics==-->
                    <ul class="slides">
                        <li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
                        <li><img src="images/demo/eminem.jpg" alt="Slide Image 2"/></li>
                        <li><img src="images/demo/timberwolves.jpg" alt="Slide Image 3"/></li>
                        <li><img src="images/demo/vikings.jpg" alt="Slide Image 4"/></li>
                        <li><img src="images/demo/wilds.jpg" alt="Slide Image 5"/></li>
                     </ul>
                </div>
            </div>

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-center" id="footer-copy">&copy; 2017 Tickets Galore Co. All Rights Reserved.</p>
    </div>
</footer>
</div>



<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>