
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-md-offset-4">
            <img src="/images/ticket2.jpg" alt="ConnActivities logo" id="ca-logo" height="120" width="120">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
                <div class="panel panel-default panel-sign-in">
                    <div class="panel-heading panel-heading-name text-center"> <strong>Sign In</strong>
                    </div>
                  
                    <div class="panel-footer text-center">Not Registered? <a href="/sign-up" class="">Sign Up here</a></div>
                    <div class="panel-footer text-center">Not signed-in? <a href="/auth/google" class="">Sign In here</a></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="clickedOnGoogle " id="my-signin2">
                <div style="height:50px;width:240px;" class="abcRioButton abcRioButtonBlue">
                    <div class="abcRioButtonContentWrapper">
                        <div class="abcRioButtonIcon" style="padding:15px">
                            <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg></div></div><span style="font-size:16px;line-height:48px;" class="abcRioButtonContents"><span id="not_signed_ing3qhvril0m6">Sign in with Google</span>
                                <a href='/auth/google'><span id="connectedg3qhvril0m6" style="display:none">Signed in with Google</span></a></span></div></div></div>
                                <div style="height:50px;width:240px;" class="abcRioButton abcRioButtonBlue">
                                    <div class="abcRioButtonContentWrapper">
                                        <div class="abcRioButtonIcon" style="padding:15px">
                                            <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg></div>
                                        </div>
                                    <span style="font-size:16px;line-height:48px;" class="abcRioButtonContents">
                                <span id="not_signed_ing3qhvril0m6">Sign in with Google</span>
                            <span id="connectedg3qhvril0m6" style="display:none">Signed in with Google</span></span>
                        </div>
                    </div>
        </div>
        
        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-center" id="footer-copy">&copy; 2017 Tickets Galore Co. All Rights Reserved.</p>
            </div>
        </footer>
        {{!-- <video autoplay loop id="video-background" muted plays-inline>
            <source src="https://secure.meetupstatic.com/s/img/457419671895069178/guest_home/video.mp4" type="video/mp4">
        </video> --}}
    </div>
    <div class="row justify-content-center">
        <h1 class="text-center" id="logo">Tickets Galore
            <sup>&reg;</sup>
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="text-center" id="tag-line">Buy Buy Buy</div>
    </div>
    <div class="row justify-content-center">
        <div class="clickedOnGoogle " id="my-signin2"></div>
    </div>
</div>
<div class="header-bg">
                <div id="preloader">
                    <div class="preloader"></div>
                </div>
                <div class="main-slider" id="main-slider">
                    <!--==pics==-->
                    <ul class="slides">
                        <li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
                        <li><img src="images/demo/eminem.jpg" alt="Slide Image 2"/></li>
                        <li><img src="images/demo/timberwolves.jpg" alt="Slide Image 3"/></li>
                        <li><img src="images/demo/vikings.jpg" alt="Slide Image 4"/></li>
                        <li><img src="images/demo/wilds.jpg" alt="Slide Image 5"/></li>
                     </ul>
                </div>
            </div>

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-center" id="footer-copy">&copy; 2017 Tickets Galore Co. All Rights Reserved.</p>
    </div>
</footer>
</div>


<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>

  
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

