<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center" id="logo">Tickets Galore
            <sup>&reg;</sup>
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="text-center" id="tag-line">Buy Buy Buy</div>
    </div>
    <div class="row justify-content-center">
        <div id="my-signin2"></div>
    </div>
</div>

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-center" id="footer-copy">&copy; 2017 Tickets Galore Co. All Rights Reserved.</p>
    </div>
</footer>
</div>



<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>