<h3>Tickets available for purchace or trade</h3>

<h4>There are {{tickets.length}} available tickets.</h4>
<div class="container">
  <div class="row lead">
    <div class="col-md-2">Ticket name</div>
    <div class="col-md-2">Location</div>
    <div class="col-md-2">Description</div>
    <div class="col-md-2">Price</div>
    <div class="col-md-2">Owner</div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12" id="ticket-list">
      <ul>
        {{#each tickets}}
            {{> tickets/ticket_item_partial}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<h2>Add a ticket</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12 ">

      <form class="create-ticket-form">
        <fieldset>
          <legend></legend>
          <div class="form-group">
            <label class="form-control-label" for="email"></label>
            <input type="text" id="email" name="email" placeholder="Enter your email address" class="form-control-lg">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="ticket_name"></label>
            <input type="text" id="ticket_name" name="ticket_name" placeholder="Enter a ticket name" class="form-control-lg">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="location"></label>
            <input type="text" id="location" name="location" placeholder="Enter a location" class="form-control-lg">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="price"></label>
            <input type="text" id="price" name="price" placeholder="Enter a ticket price" class="form-control-lg">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="description"></label>
            <input type="text" id="description" name="description" placeholder="Enter a ticket description" class="form-control-lg">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary mb-3">Add</button>
      </form>
      <label>Enter a ticket you want to store and click the "Add" button</label>

    </div>
  </div>
</div>
