
h1 {
    color:orange
}

h3 {
    color:rgb(51, 255, 0)
}

p {
    color:rgb(226, 236, 223)
}

/* ------------------------------------------------------------------- */
/* background transition */
.backGround { 
    background: url(bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   background-image: url("/images/demo/vikings.jpg")
 }

/* ------------------------------------------------------------------- */

