
body, html{
    background-image: url(https://i.vimeocdn.com/video/506320553_1280x720.jpg);
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    color:orange
}

.waterFallSlideLeft {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    text-transform: uppercase
  }
.waterFallSlideMiddle {
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase
  }
.waterFallSlideRight {
    width: 100%;
    background-color: yellow;
    color: white;
    text-align: center;
    text-transform: uppercase
  }
.waterFallHeader {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }